
<div class="div-window-bar" style="text-align:center">
    <div class="drag-window" style="text-align:center">
        <h1>
            Welcome yy to {{title}}!!
        </h1>

        <!--<i class="material-icons">close</i>-->
    </div>


    <div class="div-win-control">
        <button id="btn-win-min" mat-icon-button (click)="windowMin()" title="最小化">
            <mat-icon aria-label="Example icon-button with a heart icon">remove</mat-icon>
        </button>

        <button id="btn-win-max" mat-icon-button (click)="windowMax()" title='{{isMaximize?"恢复":"最大化"}}'>
            <mat-icon aria-label="Example icon-button with a heart icon">{{isMaximize?'fullscreen_exit':'fullscreen'}}
            </mat-icon>
        </button>

        <button id="btn-win-close" mat-icon-button (click)="windowClose()" title="关闭">
            <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
        </button>
    </div>
</div>

<!--The content below is only a placeholder and can be replaced.-->
<!--<div class="div-monaco-editor">-->
    <app-monaco></app-monaco>
<!--</div>-->

<!--<div style="text-align:center">-->



  <!--<i class="material-icons">face</i>-->
  <!--<div class="button-row">-->
    <!--<button mat-button>Basic</button>-->
    <!--<button mat-button color="primary">Primary</button>-->
    <!--<button mat-button color="accent">Accent</button>-->
    <!--<button mat-button color="warn">Warn</button>-->
    <!--<button mat-button disabled>Disabled</button>-->
    <!--<a mat-button routerLink=".">Link</a>-->
  <!--</div>-->
  <!--<h1>-->
    <!--Welcome to {{title}}!-->
  <!--</h1>-->
  <!--<div Markdown>-->
    <!--### your markdown code-->
    <!--1. he-->
    <!--2. hee-->
  <!--</div>-->

  <!--<markdown>-->
    <!--### your markdown code-->
  <!--</markdown>-->
  <!--<textarea rows="3" cols="30" [(ngModel)]="textData" >-->
<!--这里是文本域中的文本 ... ... ... ...-->
<!--</textarea>-->
  <!--&lt;!&ndash;<input [(ngModel)]="textData">&ndash;&gt;-->

  <!--<markdown [data]="textData"></markdown>-->

<!--</div>-->
<!--<h2>Here are some links to help you start: </h2>-->
<!--<ul>-->
  <!--<li>-->
    <!--<h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>-->
  <!--</li>-->
  <!--<li>-->
    <!--<h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>-->
  <!--</li>-->
  <!--<li>-->
    <!--<h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>-->
  <!--</li>-->
<!--</ul>-->

